p.text:not(:empty) {
    color: grey;
}

p.text:empty::after {
    content: attr(title);
}

p.text:not(:empty)::after {
    content: 'Some';
}

p:first-of-type {
    text-decoration: line-through;
}

p:last-of-type {
    text-decoration: line-through;
}

#some_id::before {
    content: '123';
    color: red;
    text-decoration: line-through;
}

p.main_link::first-letter {
    color: green;
}

p.main_link::first-line {
    color: green;
}

.main_link {
    color: red;
    text-decoration: none;
}

/* :hover :active и тд это все псевдоклассы */
.main_link:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

.main_link:active {
    text-decoration: line-through;
}

.main_link:visited {
    text-decoration: line-through;
    color: purple;
}


input:required
input {color: blue;}
input:focus {color: red;}