

.main_text {
    color: #000;
    text-align: center;
    font-size: 1.2em;
    font-size: normal;
    font-weight: 300;
    font-family: 'TimesNewRoman', cursive;

    text-transform: capitalize;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 50px;

    text-decoration: line-through;
    cursor: copy;
}