<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main3.css">
</head>
<body>
    <p class="main_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Amet architecto corporis, cumque dolorem dolores,
        ea natus odio perferendis quas saepe sequi ullam unde.
        Aliquam assumenda at cupiditate in recusandae! Delectus.
    </p>
</body>
</html>