<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Madi">
        <meta name="description" content="Тестовая страница">
        <meta name="keywords" content="тест,проверка,html">

        <title>Главная страница</title>

        <!-- Подключение стилей css -->
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>



        <!-- Подключение JS через src могу подключить js сайта через "https:/..." или к папке js/main.js-->

        <script src="">
        </script>
    </body>
</html>