<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
    <body>
        <!-- <span> в div позволяет работать именно с каким то элемтном в блоке div -->
        <!-- <div> это блочный контейнер,
        который используется для группировки других элементов
        и их стилизации с помощью CSS или для работы с ними через JavaScript -->
        <div>Просто <span>текст</span></div>
        <div>Просто текст</div>
    </body>
</html>