<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML + CSS</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- Вот так тоже можно прописать в файле  -->
    <!-- <style>
        b {
        color: red;

        }
    </style> -->
</head>
<body>
    <!-- style прописывать так можно но максимум для 1-2 стилей -->
    <!-- было в <p style="color: red;"> -->
    <!-- id можно применять только к одному объекту на странице а класс ко всему -->
    <p id="text-in-p">Lorem ipsum <i class="that-one">dolor</i> sit amet, consectetur adipisicing elit. Ab animi fugiat
        hic illo natus, provident
        repellat! Aperiam delectus <b id="bold-text-in-p">distinctio</b> error ipsa veniam!
        Eos explicabo magni officia quam quos sed, sunt.
    </p>
    <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi fugiat
        hic illo natus, provident
        repellat! Aperiam delectus <b>distinctio</b> error ipsa veniam!
        Eos explicabo magni officia quam quos sed, sunt.
    </p>

    <div>
        <p>Lorem ipsum dolor sit amet, <i>consectetur</i> adipisicing elit.
            Corporis deleniti inventore labore officiis qui temporibus voluptas?
            A <b>consequatur</b> dolorum fugiat ipsa iste laudantium minima molestias nesciunt
            provident recusandae totam, voluptas!</p>
    </div>

</body>
</html>