<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main2.css">
</head>
<body>
    <!-- href - это создание ссылки на что то -->
    <a href="#" class="main_link">Ссылка</a>

    <p class="text">Simple</p>
    
    <p class="text" title="some text 123"></p>

    <p class="text"></p>


    <div id="some_id">Some text</div>


    <input type="text" placeholder="Введите текст" required>

    <p class="main_link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi, consequatur, delectus dolor dolorem et id ipsam, itaque laborum mollitia nihil obcaecati odit placeat provident quia quisquam rerum veritatis vitae.</p>

    <p class="text">Simple</p>

</body>
</html>