<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <!-- создание списков -->
        <!-- or = ordered list -->
        <ol start="1" type="a">
            <!-- li = list item -->
            <li>Купи молоко</li>
            <li>Купи картошку</li>
            <li>Купи машину</li>
        </ol>
        <!-- список без обозначения -->
        <ul type="square">
            <li>Купи молоко</li>
            <li>Купи картошку</li>
            <li>Купи машину</li>
        </ul>


    </body>
</html>