<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Madi">
        <meta name="description" content="Тестовая страница">
        <meta name="keywords" content="тест,проверка,html">

        <title>Главная страница</title>
    </head>
    <body>
    <!-- Работа с заголовками -->
        <h1>Заголовок <small>1</small></h1>
        <h2>Заголовок <big>2</big></h2>
        <h3>Заголовок 3</h3>
        <h4>Заголовок 4</h4>
        <h5>Заголовок 5</h5>
        <h6>Заголовок 6</h6>

    <!-- Pre позволяет писать текст как есть (точнее формат(пробелы и тд)) -->
    <pre>function some() {
        return "SOME"
    }</pre>

    <code>let x = 0;</code>

    <!-- Тег p это просто текст -->
    <p>Просто <b>текст</b></p>
    <p>Просто <i>текст</i></p>

    H<sub>2</sub>O<br><hr>
    a<sup>2</sup>

    <!-- abbr для обревиатура -->
    <abbr title="HyperText Markup Language">HTML</abbr>
    <address>
        Seatle, <abbr title="United States of America">USA</abbr>
    </address>
    </body>
</html>